<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>错误</title>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta name="MobileOptimized" content="280" />
		<meta name="apple-touch-fullscreen" content="YES" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0" />
	</head>
	<body ng-app="app" ng-controller="MainController">
		<div class="navbar navbar-app navbar-absolute-top">
			<div class="navbar-brand navbar-brand-center" ui-yield-to="title">
				异常哦，请重新来一次~</div>
		</div>
	</body>

</html>